@use '../utils' as *;

/*=========================
04. Breadcrumb
===========================*/
.breadcrumb {
    &-bg {
        position: relative;
        padding: 150px 0 155px;
        z-index: 1;
        @media #{$xl} {
            padding: 105px 0 110px;
        }
        @media #{$lg} {
            padding: 90px 0 95px;
        }
        @media #{$xs} {
            padding: 75px 0 80px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #031227;
            opacity: 0.8;
            z-index: -1;
        }
    }
    &-content {
        & .title {
            font-size: 44px;
            color: var(--tg-common-color-white);
            font-weight: var(--tg-fw-semi-bold);
            text-transform: capitalize;
            margin: 0 0 0;
            @media #{$xs} {
                font-size: 32px;
            }
            @media #{$sm} {
                font-size: 36px;
            }
        }
        & .breadcrumb {
            @include flexbox();
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 0;
            list-style: none;
            background-color: transparent;
            border-radius: 0;
            justify-content: flex-start;
            align-items: center;
            color: var(--tg-common-color-white);
            column-gap: 10px;
            row-gap: 5px;
            margin: 17px 0 0;
        }
        & .breadcrumb-separator {
            line-height: 1;
            font-size: 16px;
            margin-top: 1px;
            font-weight: 700;
            margin-top: 2px;
            opacity: .5;
            color: var(--tg-common-color-white);
        }
    }
    &>* {
        display: block;
        font-size: 18px;
        color: #B6CFF5;
        line-height: 1.4;
        font-weight: 400;
        text-transform: capitalize;
        & a {
            color: var(--tg-common-color-white);
            &:hover {
                color: var(--tg-common-color-white);
            }
        }
    }
}