@use '../utils' as *;

/*=============================
	00. Section Title
===============================*/
.section__title {
    & .sub-title {
        display: inline-block;
        line-height: 1;
        background: var(--tg-common-color-gray);
        @include border-radius(4px);
        padding: 7px 15px;
        font-weight: var(--tg-fw-medium);
        color: var(--tg-theme-primary);
        margin: 0 0 13px;
    }
    & .title {
        font-size: 36px;
        line-height: 1.32;
        margin: 0 0;
        letter-spacing: -1px;
        text-transform: capitalize;
        @media #{$xs} {
            font-size: 29px;
        }
        @media #{$sm} {
            font-size: 36px;
        }
        & span:not(.svg-icon) {
            color: var(--tg-theme-primary);
            position: relative;
            display: inline-block;
            z-index: 1;
        }
        & .svg-icon {
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            text-align: center;
            margin: 0 auto;
            bottom: -14px;
            height: 25px;
            width: 145px;
            pointer-events: none;
            z-index: -1;
            @media #{$xs} {
                bottom: -15px;
            }
            & svg {
                display: block;
                width: 100%;
                height: 100%;
            }
            & path {
                stroke: var(--tg-common-color-yellow);
            }
        }
    }
    &.white-title {
        & .title {
            color: var(--tg-common-color-white);
            & span:not(.svg-icon) {
                color: var(--tg-common-color-white);
            }
        }
    }
    & .desc {
        margin: 20px 0 0;
    }
}